<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center ">
        <section>
            <h1 class="display-1 d-flex justify-content-center ">About</h1>
            <p class="d-flex justify-content-center ">
                I am a hard-working and driven individual who isn't afraid to face
                 a challenge. I'm passionate about my work and I know how to get the
                  job done. I would describe myself as an open and honest person 
                doesn't believe in misleading other people and tries to be fair in
                 everything I do.
            </p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>