<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
      
    <!-- section contact -->
    <section class="container mt-5" id="contact vh-100 ">
        <h2 class="text-center mb-4 pb-5 ">CONTACT <span class="text-success ">ME</span></h2>
        <form action="" method="post">
          <div class="row">
            <div class="col-md-6 mb-4">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="col-md-6 mb-4">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
            </div>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"></textarea>
          </div>
          <button type="submit" class="btn btn-success "><a href="#!" class="text-light">Send Message</a></button>
          <hr>
          <div class="pb-5 "></div>
        </form>
      </section>
      


    <%- include('partials/footer') %>
</body>
</html>