<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <!-- imagen contenido -->
    <section class="container  d-flex justify-content-center align-items-center pt-5 ">
        <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/portada.png" alt="" class="flex-column flex w-75 ">
        <h1 class="display-1 my-1 text-uppercase fw-bolder ">Miguel <span class="text-success ">Suarez</span></h1>
        <h3 class="pb-2 ">Software Developer</h3>
        <a href="#!" class="btn btn-success w-25 fw-bolder">Download CV</a>
        <div class="pb-5 "></div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>