<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>

    <h1 class="text-center p-5  ">MY <span class="text-success ">PROJECTS</span> </h1>

    <!-- cards projects -->

    <div class="container">
        <div class="row mt-n5">
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/carrusel.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a href="#!">Carousel proyect</a></h3>
                        
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Jul, <script>document.write(new Date().getFullYear())</script></a></li>
                            </ul>
                        </div>
                        <!-- quitar comentarios y vistas -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/calculadora.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a href="#!">Calculator Proyect</a></h3>
                        
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Jun, <script>document.write(new Date().getFullYear())</script>2022</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/cursoranimado.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a href="#!">Pointer Animated</a></h3>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 16 May, <script>document.write(new Date().getFullYear())</script></a></li>
                                
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/imagenes3d.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a href="#!">Image 3D</a></h3>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 02 Apr, <script>document.write(new Date().getFullYear())</script></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/mensajes.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3  "><a href="#!">Mesaje</a></h3>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Mar, <script>document.write(new Date().getFullYear())</script></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" src="/img/cronometro.png"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a href="#!">Cronometro</a></h3>
                        
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Feb, <script>document.write(new Date().getFullYear())</script></a></li>
                            
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<div class="pb-5 ">

</div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>